<div style="padding-left: 100px;">
    <h1> Add Authors</h1>

    <form >
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name" />
        </div>
        <div>
          <label for="birthdate">Birth Date:</label>
          <input type="text" id="birthdate" formControlName="birthDate" />
        </div>
        <div>
          <label for="nationality">Nationality:</label>
          <input type="text" id="nationality" formControlName="nationality" />
        </div>
        <button type="submit">Save</button>
      </form>
</div>

